// Colors
$white: #ffffff;
$black: #000000;

$primary-color: #0091ea;
$secondary-color: #101d91;
$main-text-color: #041e41;

// Body
$body-bg: #f8f8f8;

// Typography
$font-family-primary: "Open Sans", sans-serif;

// Card
$card-title-color: #0c082c;
$card-description-color: #1d1b1b;
