@import "./../../../../scss/helper/index.scss";

.Category {
  &__info {
    @extend %flex-centered;
    text-align: center;
    margin-bottom: 0.5rem;

    @include tablet {
      justify-content: flex-start;
      padding-left: 5rem;
    }
  }

  &__item {
    &:not(:last-of-type) {
      padding-bottom: 2rem;
      margin-bottom: 2rem;
      border-bottom: 0.2rem solid $primary-color;

      @include tablet {
        margin-bottom: 4rem;
      }
    }
  }

  &__link {
    font-size: 1.2rem;
    font-weight: bold;
    color: $primary-color;
    margin-right: 1rem;
    text-transform: capitalize;

    &:hover {
      color: $secondary-color;
    }
  }

  &__expand-button {
    background-color: transparent;
    border: none;
    padding: 0;
  }

  &__expand-icon {
    @extend %transition-favorite;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-right: 0.2rem solid $secondary-color;
    border-bottom: 0.2rem solid $secondary-color;
    transform: rotate(45deg);

    &--expanded {
      transform: rotate(-135deg);
    }
  }
}
